@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,600&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root{
    --dashtop-color:#D8D3CD;
    --card-color:#D8D3CD;
    --navbar-color:#F4F9F9;
    --primary-color:#0E4BF1;
    --panel-color:#F4F9F9;
    --text-color:#000000;
    --Btn-color:#000;
    --black-light-color:#707070;
    --border-color:#efefef;
    --tiggle-color:#DDD;
    --box1-color:#4DA3FF;
    --box2-color:#FFE6AC;
    --box3-color:#E7D1FC;
    --button-color:#4f76e3;
    --title-icon-color:#fff;
    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
    --tran-03: all 0.2s ease;
}
body{
    background-color: var(--panel-color);
    /* height: 313vh; */

}
.container{
    position: fixed;
    top: 0;
    width: 250px;
    height: 100vh;
    background-color: var(--navbar-color);
    border-right: solid 1px var(--border-color);
    transition: var(--tran-05);
}
.container.close{
    width: 55px;
}
.container .logo-name{
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: flex-start;
    margin-left: 10px;
    color: var(--text-color);
    transition: var(--tran-05);
    width: 230px;
}
.container .logo-name .logo-name{
    font-size: 28px;
    font-weight: 600;
    color: var(--primary-color);
    transition: var(--tran-05);
}
.container .logo-name i{
    min-width: 45px;
    width: 40px;
    font-size: 40px;
    color: var(--primary-color);
    transition: var(--tran-05);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .menu-items{
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
    padding-top: 50px;
}
.container .menu-items .nav-links .link-name{
    color: var(--text-color);
    transition: var(--tran-05) !important;
    font-size: 22px;
    margin-left: 10px;
    height: 40px;
    position: fixed !important;
    left: 50px;
}
.container .menu-items .nav-links li a i{ 
    min-width: 40px;
    width: 38px !important;
    height: 40px !important;
    margin-right: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .menu-items .nav-links li a{
    min-width: 45px;
    width: 40px;
    color: var(--text-color);
    transition: var(--tran-05);
    font-size: 30px;
    text-decoration: none;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}
.container .menu-items .nav-links li{
    list-style: none;
    height: 80px;
}
.container .menu-items .mod{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 80px;
}
.container .menu-items .mod a{
    text-decoration: none;
    color: var(--text-color);
    transition: var(--tran-05);
    font-size: 20px;
    padding-left: 10px;
    pointer-events: none;
    position: fixed;
    left: 60px;
}
.container .menu-items .mod a i{
    color: var(--text-color);
    transition: var(--tran-05);
    min-width: 45px;
    width: 40px;
    font-size: 22px;
    padding-left: 10px;
}
.menu-items .mod .mode-toggle{
    height: 50px;
    min-width: 45px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.menu-items .mod .link-name{
    transition: var(--tran-05) !important;
}
.container.close .menu-items .mod .link-name{
    opacity: 0;
}
.menu-items .mod .mode-toggle .switch{
    position: relative;
    display: inline-block;
    height: 22px;
    width: 35px;
    border-radius: 25px;
    background-color: var(--tiggle-color);
    transition: var(--tran-05);
}
.switch:before{
    content: "";
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    height: 15px;
    width: 15px;
    background-color: var(--panel-color);
    transition: var(--tran-05);
    border-radius: 50%;
}
.dashboard{
    position: relative;
    left: 250px;
    background-color: var(--panel-color);
    transition: var(--tran-05);
    width: calc(100% - 250px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 6vh;
}
.container.close ~ .dashboard{
    left: 55px;
    width: calc(100% - 55px);
}
.container.close ~ .dashboard .top{
    left: 55px;
    width: calc(100% - 55px);
}
.dashboard .top{
    display: flex;
    justify-content: space-between ;
    align-items: center;
    width: calc(100% - 250px);
    position: fixed;
    top: 0;
    left: 250px;
    background-color: var(--navbar-color);
    transition: var(--tran-05);
    z-index: 999;
    height: 8vh;
    padding: 10px;
}
.dashboard .top i{
    min-width: 45px;
    height: 45px;
    font-size: 30px;
    color: var(--text-color);
    transition: var(--tran-05);
    cursor: pointer;
}
.dashboard .top img{
    min-width: 50px;
    height: 50px;
    font-size: 30px;
    color: var(--text-color);
    transition: var(--tran-05);
    border-radius: 50px;
    border: solid 1px var(--text-color);
}
.dashboard .btn{
    min-width: 45px;
    height: 40px;
    cursor: pointer;
    border:solid 1px var(--text-color);
    background-color: var(--border-color);
    transition: var(--tran-05);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border:solid 1px var(--border-color);
}
.dashboard .search-box .button i{
    color: var(--text-color);
    transition: var(--tran-05);
}
.dashboard .top .search-box{
display: flex;
justify-content: flex-start;
align-items: center;
width: 50%;
}
.dashboard input{
    width: 100%;
    height: 40px;
    padding-left: 20px;
    background-color: var(--panel-color);
    transition: var(--tran-05);
    border:solid 1px var(--border-color);
}
.dashboard input::placeholder {
    color: var(--text-color);
    transition: var(--tran-05);
    opacity: 0.5;
}
.dashboard .top a i{
    min-width: 45px;
    height: 40px;
    font-size: 35px;
    color: var(--text-color);
    transition: var(--tran-05);
}
.parent{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: flex-start; */
    height: 80vh;
    width: calc(112% - 250px);
}
.parent video{
    object-fit: fill;
    background-size: cover;
    background-position: center;
    position: relative;
    width: calc(100%);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 50vh;
    border-radius: 2px;
    margin: 0 auto;
    margin: 20px 20px;
}
.parent .contex{
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* border-left: solid 1px var(--text-color); */
    transition: var(--tran-05);
    margin: 0 auto;
}
.parent .contex .titre{
    font-size: 30px !important;
    text-align: justify;
}
.parent .contex .text{
    font-size: 20px !important;
    text-align: justify;
}
.parent .animation{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}
/*-----------------------------------button-----------------------------------*/
.animation {
    width: 60%;
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #FF4301;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
}
.animation:hover {
    background: #FF4301;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #FF4301,
                0 0 25px #FF4301,
                0 0 50px #FF4301,
                0 0 100px #FF4301;
}
.animation span {
    position: absolute;
    display: block;
}
.animation span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #FF4301);
    animation: btn-anim1 1s linear infinite;
}
@keyframes btn-anim1 {
    0% {
        left: -100%;
    }
    50%,100% {
        left: 100%;
    }
}
.animation span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #FF4301);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
}
@keyframes btn-anim2 {
    0% {
        top: -100%;
    }
    50%,100% {
        top: 100%;
    }
}
.animation span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #FF4301);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}
@keyframes btn-anim3 {
    0% {
        right: -100%;
    }
    50%,100% {
        right: 100%;
    }
}

.animation span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #FF4301);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s;
    text-align: center !important;
}
@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }
    50%,100% {
        bottom: 100%;
    }
}
/*--------------------------------------------------------------------------------*/
.parent .contex .titre{
    font-size: 30px;
    color: var(--text-color);
    transition: var(--tran-05);
}
.parent .contex .text{
    font-size: 20px;
    color: var(--text-color);
    transition: var(--tran-05);
}
.menu-items li a:hover i,
.menu-items li a:hover .link-name
{
    color: var(--primary-color);
}
body.dark .nav-links li a:hover i,
body.dark .nav-links li a:hover .link-name
{
    color: var(--text-color);
}
body.dark{
    --dashtop-color:#272727;
    --navbar-color:#272727;
    --card-color:#272727;
    --primary-color:#F7F7F7;
    --panel-color:#323232;
    --text-color:#F7F7F7;
    --black-light-color:#CCC;
    --border-color:#4D4C4C;
    --tiggle-color:#FFF;
    --box1-color:#3A3B3C;
    --box2-color:#3A3B3C;
    --box3-color:#3A3B3C;
    --title-icon-color:#CCC;
    --button-color:rgb(3, 3, 3);
    --Btn-color:#FFF;
}
body.dark .switch:before{
    left: 17px;
}
/*------------------------------------- Articles-Informatiques ---------------------------------------------------------------------*/
.articles-informatique{
    position: relative;
    width: calc(100%);
    background-color: var(--panel-color);
    transition: var(--tran-05);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.articles-informatique .titre{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    margin-bottom: 20px !important;
}
.articles-informatique .titre .text{
    font-size: 24px;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--tran-05);
}
.articles-informatique .titre i{
    min-width: 45px;
    margin-right: 10px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: var(--text-color);
    border: solid 1px var(--text-color);
    transition: var(--tran-05);
    border-radius: 5px;
}
.articles-informatique .boxes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    width: calc(100% - 250px);
    margin: 0 auto;
}
.grid__item {
    background-color: #fff;
    border-radius: 0.4rem;
    overflow: hidden;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, .1);
    cursor: pointer;
    width: 20rem;
    margin-bottom: 1rem;
}
.grid__item:hover {
    transform: translateY(-0.5%);
    box-shadow: 0 4rem 8rem rgba(0, 0, 0, .2);
}
.card__img {
    display: block;
    width: 100%;
    height: 15rem;
    object-fit: cover;
}
.card__content {
    padding: 1rem 1rem;
}
.card__header {
    font-size: 1.5rem;
    font-weight: 500;
    color: #0d0d0d;
    margin-bottom: 1rem;
}
.card__text {
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
    line-height: 1;
    text-align: justify;
    color: #3d3d3d;
    margin-bottom: 1rem;
    overflow:hidden;
    height: 10rem;
}
.card__btn {
    display: block;
    width: 100%;
    padding: 1rem;
    font-size: 1.1rem;
    text-align: center;
    color: #3363ff;
    background-color: #e6ecff;
    border: none;
    border-radius: 0.4rem;
    transition: var(--tran-03);
    cursor: pointer;
}
.card__btn span {
    margin-left: 0.8rem;
    transition: var(--tran-03);
}
.card__btn:hover, .card__btn:active {
    background-color: #dce4ff;
}
.card__btn:hover span, .card__btn:active span {
    margin-left: 0.8rem;
}
/*------------------------------------- Articles-téléphonie ---------------------------------------------------------------------*/
.articles-téléphonie{
    position: relative;
    width: calc(100%);
    background-color: var(--panel-color);
    transition: var(--tran-05);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    
}
.articles-téléphonie .titre{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    margin-bottom: 20px !important;
}
.articles-téléphonie .titre .text{
    font-size: 24px;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--tran-05);
}
.articles-téléphonie .titre i{
    min-width: 45px;
    margin-right: 10px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: var(--text-color);
    border: solid 1px var(--text-color);
    transition: var(--tran-05);
    border-radius: 5px;
}

.articles-téléphonie .boxes1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
    width: calc(100% - 250px);
    margin: 0 auto;
}
/*------------------------------------- Pub ---------------------------------------------------------------------*/
.dashboard .pub{
    background: url("/assets/Untitled-2.png") no-repeat;
    background-size: cover;
    object-fit: fill;
    background-position: center;
    position: relative;
    width: calc(112% - 250px);
    height: 50vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 3px;
    margin: 0 auto;
    margin: 20px 20px;
}
.dashboard .pub .contex{
    padding: 20px;
    color: white;
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-right: solid 1px white;
    width: 25rem;
}
.dashboard .pub .contex .titre{
    font-size: 30px !important;
    text-align: justify !important;
}
.dashboard .pub .contex .text{
    font-size: 20px;
    text-align: justify !important;
}
/*------------------------------------- Footer ---------------------------------------------------------------------*/
footer{
    position: relative;
    left: 250px;
    background-color: var(--panel-color);
    transition: var(--tran-05);
    width: calc(100% - 250px);
    background-color: #0e0e0e;
    color: white;
    display: flex;
    flex-direction: column;
}
.container1{
    background-color: var(--panel-color);
    transition: var(--tran-05);
    height: 40vh;
    padding: 10px 15px;
    border-bottom: solid 1px black;
    background-color: #0e0e0e;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.container1 .propo ul, .container1 .coucou ul{
    list-style: none;

}
.container1 .propo ul li a, .container1 .coucou ul li a{
    text-decoration: none;
    color: rgb(201, 201, 201);
    font-size: 14px;
}
.container1 .propo ul li, .container1 .coucou ul li{
    height: 5vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.container1 .propo .text, .container1 .coucou .text{
    color: white;
    font-size: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 6vh;
    border-bottom: solid white 1px;
}
.container1 .newsletter .text{
    color: white;
}
.container1 .newsletter{
    margin-top: 1.5vh;
}
.container1 .newsletter .newsl{
    background-color: white;
    border: solid 1px white;
    width: 100%;
    margin: 20px 0px;
    font-size: 16px;
    height: 5vh;
    box-shadow: 2px 2px white;
    border: solid 1 px white;
    cursor: pointer;
}
.container1 .newsletter .icons{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    font-size: 40px;
    border-top: solid 1px white;
}
.container1 .newsletter .icons a{
    color: white;
    text-decoration: none;
}
.container.close ~ footer{
    left: 55px;
    width: calc(100% - 55px);
}
footer .mensions-légals{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    border-top: solid 1px white;
}
footer .mensions-légals a{
    color: white;
}
.container.close .link-name{
    opacity: 0;
}

@media (max-width:1024px) {
    .container{
        width: 55px;
    }
    .container.close{
        width: 250px;
    }
    .container .logo-name .logo-name{
        opacity: 0;
        pointer-events: none;
    }
    .container.close .logo-name .logo-name{
        opacity: 1;
        pointer-events: auto;
    }
    .container li a .link-name{
        opacity: 0;
        pointer-events: none;
    }
    .container.close li a .link-name{
        opacity: 1;
        pointer-events: auto;
    }
    .container.close ~ .dashboard .top{
        left: 250px !important;
        width: calc(100% - 250px) !important;
    }
    .container ~ .dashboard .top{
        left: 55px;
        width: calc(100% - 55px);
    }
    .container.close ~ .dashboard{
        left: 250px;
        width: calc(100% - 250px);
    }
    .container ~ .dashboard{
        left: 55px;
        width: calc(100% - 55px);
    }
    .container ~ footer{
        left: 55px;
        width: calc(100% - 55px);
    }
    .container.close ~ footer{
        left: 250px;
        width: calc(100% - 250px);
    }
    .container .menu-items .mod .link-name{
        opacity: 0;
        pointer-events: none;
    }
    .container.close .menu-items .mod .link-name{
        opacity: 1;
        pointer-events: auto;
    }
}
@media (max-width:1024px) {
    .container1 .propo, .container1 .coucou{
        display: none;
    }
    .articles-informatique .boxes, .articles-téléphonie .boxes1{
        display: flex;
        flex-wrap: wrap;
        justify-content:space-around;
    }
}

.point-relais{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:var(--card-color);
    transition: var(--tran-05);
    width: 100%;
    height: 85vh;
    border-top: solid 1px var(--border-color);
}
.point-relais .pr-parent{
    display: flex;
    height: 85vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
    width: calc(100% - 250px);
}
.point-relais .pr-parent .srch button i{
    color: var(--text-color);
    transition: var(--tran-05);
}
.point-relais .pr-parent .srch button{
    min-width: 45px;
    height: 40px;
    border: solid 1px var(--border-color);
    background-color: var(--border-color);
}
.point-relais .pr-parent .srch{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}
.point-relais .pr-parent .srch input{
    width: 20rem;
    height: 40px;
    background-color: var(--panel-color);
    transition: var(--tran-05);
    border: solid 1px var(--border-color);
    width: 100%;
}
.point-relais .pr-parent .srch input::placeholder {
    color: var(--text-color);
    transition: var(--tran-05);
    opacity: 0.5;
}
.point-relais .pr-parent .titre{
    font-weight: 500;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3rem;
    color: var(--text-color);
    transition: var(--tran-05);
}
.point-relais .pr-parent .text{
    text-align: justify;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    width: 100%;
    color: var(--text-color);
    transition: var(--tran-05);
}
.point-relais .pr-parent .search{
    text-align: justify !important;
    font-size: 14px;
    color: var(--text-color);
    transition: var(--tran-05);
    width: 100%;
}
.point-relais .pr-parent iframe{
    width: 100% !important;
}
